body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif
}

#fullapp {
    background-image: url("recipebg.jpg");
    background-position: center;
    background-position: 20% 20%;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 12px;
}